<template name="editForm">
	<div class="container top">
		<form class="editForm">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control title" placeholder="Title goes here..." value="{{title}}">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label>Tags</label>
						<input type="text" class="form-control tags" placeholder="Tags go here..." value="{{tags}}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Markdown</label>
						<textarea class="form-control markdown" rows="5" placeholder="Markdown goes here..." value="{{data}}"></textarea>
					</div>
				</div>
				
				<div class="col-md-6">
					<label>Result</label>
					<div class="form-group well compiled">
						{{#markdown}}{{{markdown_data}}}{{/markdown}}
					</div>
				</div>
			</div>

			<div class="text-right">
				{{#if _id}}
				<button class="btn btn-danger delete">Delete</button>
				<button class="btn btn-success update">Update</button>
				{{else}}
				<button class="btn btn-success create">Create</button>
				{{/if}}
			</div>
		</form>
	</div>
</template>