<template name="post">
	<div class="post">
		<header>
			<a href="/post/{{_id}}">
				<span class="title">{{title}}</span>
			</a>

			<span class="date">{{formatDate createdAt}}</span>
		</header>

		<main>
			{{#markdown}}{{{data}}}{{/markdown}}
		</main>

		<footer>
			<!-- likes -->
			<span class="glyphicon glyphicon-heart heart new"></span>
			<span class="likes">x{{likes}}</span>
			・

			<!-- tags -->
			{{#if tags}}
			<span class="glyphicon glyphicon-tags"></span>
			{{formatTags tags}}
			・
			{{/if}}

			<!-- last modified -->
			{{#if lastModifiedAt}}
			<span class="glyphicon glyphicon-calendar"></span>
			Last updated {{formatDate lastModifiedAt}}
			・
			{{/if}}

			<!-- edit -->
			<a href="/edit/{{_id}}">Edit</a>
		</footer>
		
		<hr>
	</div>
</template>