body {
	font-family: sans-serif;
}

header {
	background-color: #2d436f;
	padding: 100px 50px 50px 50px;
}

header h1 {
	color: #fefefe;
	font-size: 30px;
}

header h2 {
	color: #dedede;
	font-size: 18px;
}

header .login {
	color: #dedede;
	font-size: 12px;
}

.feed {

}

.feed .entry {

}